

<footer class="row bg-dark text-light px-2 mx-1 w-100">
    <div class="col-7 text-center">
        <p>Yemen/ Hadramout/ Mukalla_Gail Bawazeer  </p>
        <p><a href="www.ahlam93mohmmed@gmail.com">www.ahlam93mohmmed@gmail.com</a></p>
        <p>702158191 / 736784806</p>
    </div>
    <div class="col-5 pt-5">
        <ul class="nav navbar ">
            <li><a href="www."><img src="gmail.png" width="30" height="30"></a></li>
            <li><a href="www."><img src="facebook.png" width="30" height="30"></a></li>
            <li><a href="www."><img src="whats.jpg" width="30" height="30"></a></li>

        </ul>
    </div>
</footer>