<!DOCTYPE html>
<html lang="en">
    <%- include('./include/header.ejs') %>
    <style>
        label{
            font-weight: bold;
            width: 40%;
            margin-bottom: 3px;
        }
        input{
            width: 50%;
            margin-bottom: 3px;
        }
    </style>
<body>
    <form action="/add_per" method="post"  enctype="multipart/form-data">
       

       
        
        

        

        

       
        
        <!--<input type="text" name="" >-->


        <input  type="submit" value="save">

    </form>
    <!--<script src="add.js"></script>-->
</body>
</html>