<!DOCTYPE html>
<html lang="en">

    <%- include('./include/header.ejs') %>
    <style>
        
    </style>
<body class="m-5 p-5">
    <h1>protofilo...</h1>
    <h5>to creat new protofilo go here </h5> 
    <form action="/add_persol" method="post">
        <input type="submit" value="creat protofilo"> 
    </form>
    <h5>if you have account go to...</h5>
    <form action="/informaion" method="get">
        <input type="submit" value="open protofilo"> 
    </form>
</body>
</html>